body {
    margin: 0;
    padding: 0;
    border: 0;

    background: #1d1d1d;
    font-family: "Comfortaa", Verdana;
}

#playerAndAbout {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#player {
    margin: 0;
    padding: 0;
    border: 0;
}

#about {
    width: 49%;
}

h6 {
    margin-bottom: 20px;
    font-size: 16pt;
    color: #8d8d8d;
    font-family: "Oswald", "Comfortaa", Verdana;
}

p {
    font-size: 9pt;
    color: #6d6d6d;
}

#lyricSection {
    margin: 0 0 50px 2%;
}

#Lyric1 {
    color: steelblue;
}

#Lyric2 {
    color: #6d6d6d;
}

#Lyric3 {
    color: #4d4d4d;
}

footer {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    background: steelblue;
    color: #f4f4f4;
}

footer h5, h6 {
    font-family: "Comfortaa", Verdana;
    color: #f4f4f4;
}

footer h5 {
    font-size: 1.3em;
    margin-bottom: 0;
}

footer h6 {
    font-size: 0.83em;
}

footer div a {
    font-size: 0.9em;
    text-decoration: none;
    color: #f4f4f4;
}

/*.box-ccokies.hide {
    display: none !important;
}*/

#box-cookies {
    position: fixed;
    background: steelblue;
    width: 100%;
    z-index: 998;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box-cookies #msg-cookies, #box-cookies #btn-cookies {
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 18px;
}

#box-cookies #btn-cookies {
    background: #fff;
    color: steelblue;
    cursor: pointer;
    align-self: normal;
}

#carroussel {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 20px auto;
    width: 100%;
}

.tumb {
    margin: 0 4px;
}

img{
    width: 282px;
    height: 159px;
    object-fit: cover;
    object-position: center;
}

.tumbTitle {
    font-size: 10pt;
    color: #fff;
}

.tumbArtist {
    font-size: 8pt;
}

@media (max-width: 600px) {
    #about {
        width: 100%;
    }

    footer {
    text-align: center;
    }

    #box-cookies {
        flex-direction: column;
    }

    #carroussel {
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0 auto 20px auto;
        overflow-x: scroll;
    }

    img {
        width: 152px;
        height: 86px;
    }

    .tumbTitle{
        font-size: 8pt;
    }

    .tumbArtist {
        font-size: 6pt;
    }
}